<%- model_class = Collection -%>
<div class="page-header">
  <h1><%= model_class.model_name.human.to_s.pluralize.titlecase %></h1>
</div>
<div class="sticky sticky_table_header">
  <table class="table table-heading-table">
    <thead>
      <tr>
        <th class="column-name-width"><%= model_class.human_attribute_name(:name) %></th>
        <th class="column-description-width"><%= model_class.human_attribute_name(:description) %></th>
        <th class="column-updatedat-width"><%= model_class.human_attribute_name(:updated_at) %></th>
      </tr>
    </thead>
  </table>
</div>

<table class="table table-striped">
  <tbody>
    <% @collections.each do |collection| %>
      <tr onclick="location.href='<%= collection_path(collection) %>'" class="collection-row cursor-hand">
        <td class="column-name-width"><%= collection.name %></td>
        <td class="column-description-width"><%= collection.description %></td>
        <td class="column-updatedat-width"><%=l collection.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_collection_path,
            :class => 'btn btn-primary' %>
