<h1>Listing testsets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Collection</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testsets.each do |testset| %>
      <tr>
        <td><%= testset.name %></td>
        <td><%= testset.description %></td>
        <td><%= testset.collection %></td>
        <td><%= testset.user %></td>
        <td><%= link_to 'Show', testset %></td>
        <td><%= link_to 'Edit', edit_testset_path(testset) %></td>
        <td><%= link_to 'Destroy', testset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testset', new_testset_path %>
