<%- model_class = Testset -%>
<div class="page-header">
  <h5 class="title-class-header">
    <%= link_to 'Test',
                collection_path(@testset.collection), class: 'title-class-link' %>
  </h5>
  <h1><%= @testset.name %></h1>
  <% if @testset.description %>
    <p><%= @testset.description %></p>
  <% end %>

  <div class="form-group">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_collection_testset_path(@collection, @testset), :class => 'btn btn-sm btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                collection_testset_path(@collection, @testset),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-sm btn-danger' %>
  </div>
</div>

<div class="fieldset">
  <h3>Test Actions</h3>

  <div class="sticky sticky_table_header">
    <table class="table table-heading-table">
      <thead>
        <tr>
          <th class="testaction-position-column">Position</th>
          <th class="testaction-name-column">Name</th>
          <th class="testaction-description-column">Description</th>
          <th class="testaction-activity-column">Action</th>
          <th class="testaction-updatedat-column">Updated At</th>
        </tr>
      </thead>
    </table>
  </div>

  <table class="table table-striped">
    <tbody>
      <% @test_actions.each do |test_action| %>
        <tr onclick="location.href='<%= collection_testset_test_action_path(@testset.collection, @testset, test_action) %>'" class="cursor-hand">
          <td class="testaction-position-column">
            <%= form_for [test_action.testset.collection, test_action.testset, test_action], :html => { :class => 'form-horizontal form-model test-action-position-reorder-field' } do |f| %>
              <%= f.number_field :data, :min => 1, :max => @test_actions.size, :class => 'text-field form-control', :value => test_action.position %>
              <%= f.hidden_field :test_action_id, :value => test_action.id %>
            <%- end %>
          </td>
          <td class="testaction-name-column"><%= test_action.name %></td>
          <td class="testaction-description-column description-font-size"><%= test_action.description %></td>
          <td class="testaction-activity-column"><%= test_action.activity.action_name %></td>
          <td class="testaction-updatedat-column"><%=l test_action.updated_at, format: :short %></td>
        </tr>
        <tr class="subset-tablerow">
          <td colspan='1' class="below-testaction-position-column"></td>
          <td colspan='4'>
            <h4>Element
              <% if test_action.object_identifier %>
                <%= link_to "+",
                        new_collection_testset_test_action_object_identifier_object_identifier_sibling_path(@testset.collection, @testset, test_action, test_action.object_identifier),
                        :class => 'btn btn-xxs btn-primary' %>
              <% else %>
                <%= link_to "+",
                        new_collection_testset_test_action_object_identifier_path(@testset.collection, @testset, test_action),
                        :class => 'btn btn-xxs btn-primary' %>
              <% end %>
            </h4>
            <%= render :partial => 'object', :locals => { :test_action => test_action } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-group">
  <%= link_to "New Action",
              new_collection_testset_test_action_path(@testset.collection, @testset),
              :class => 'btn btn-primary' %>
  <a class="btn btn-warning" href="#" id="reorderSteps">Reorder Actions</a>
</div>

<script>
$('#reorderSteps').click(function(e) {
  e.preventDefault();
  reorderSteps;
});

function reorderSteps() {
  $( ".test-action-position-reorder-form" ).each(function(i, obj) {
    console.log(i);
    console.log(obj);
  });
}
</script>
