<%- model_class = Testset -%>
<div class="page-header">
  <h5 class="title-class-header">
    <%= link_to 'Collection',
                collection_path(@testset.collection), class: 'title-class-link' %>
    <span class="unbold">&gt; Test</span>
  </h5>
  <h1><%= @testset.name %></h1>
  <% if @testset.description %>
    <p><%= @testset.description %></p>
  <% end %>

  <div class="form-group">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_collection_testset_path(@collection, @testset), :class => 'btn btn-sm btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                collection_testset_path(@collection, @testset),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-sm btn-danger' %>
  </div>
</div>

<div class="fieldset">
  <h3>Test Actions</h3>

  <div class="sticky sticky_table_header">
    <table class="table table-heading-table">
      <thead>
        <tr>
          <th class="testaction-position-column">Position</th>
          <th class="testaction-name-column">Name</th>
          <th class="testaction-description-column">Description</th>
          <th class="testaction-activity-column">Action</th>
          <th class="testaction-updatedat-column">Updated At</th>
          <th class="testaction-delete-column"> </th>
        </tr>
      </thead>
    </table>
  </div>

  <table class="table table-striped">
    <tbody>
      <% @test_actions.each do |test_action| %>
        <tr>
          <td class="testaction-position-column">
            <%= form_for [test_action.testset.collection, test_action.testset, test_action], :html => { :class => 'form-horizontal form-model test-action-position-reorder-form' } do |f| %>
              <%= f.number_field :data, :min => 1, :max => @test_actions.size, :class => 'text-field form-control position-number-button', :value => test_action.position %>
              <%= f.hidden_field :id, :value => test_action.id %>
            <%- end %>
          </td>
          <td class="testaction-name-column<%= cursor_hand_pointer_helper(test_action) %>" onclick="<%= onclick_url_switcher(test_action) %>"><%= name_display_helper(test_action) %></td>
          <td class="testaction-description-column description-font-size cursor-hand" onclick="<%= onclick_url_switcher(test_action) %>"><%= test_action.description %></td>
          <td class="testaction-activity-column cursor-hand" onclick="<%= onclick_url_switcher(test_action) %>"><%= activity_display_helper(test_action) %></td>
          <td class="testaction-updatedat-column cursor-hand" onclick="<%= onclick_url_switcher(test_action) %>"><%=l test_action.updated_at, format: :short %></td>
          <td class="testaction-delete-column">
            <%= link_to "x",
                        collection_testset_test_action_path(@testset.collection, @testset, test_action),
                        :class => 'btn btn-xxs btn-danger btn-right',
                        :method => 'delete',
                        :data => {
                          :confirm => t('.confirm',
                            :default => t("helpers.links.confirm",
                              :default => 'Are you sure you want to delete this Test Action?')) } %>
          </td>
        </tr>
        <tr class="subset-tablerow">
          <td colspan='1' class="below-testaction-position-column"></td>
          <td colspan='5'>
            <%= object_identifier_display_helper(test_action) %>
            <%= render :partial => 'object', :locals => { :test_action => test_action } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-group">
  <%= link_to "Create New Action",
              new_collection_testset_test_action_path(@testset.collection, @testset),
              :class => 'btn btn-primary btn-with-margin' %>
  <a class="btn btn-warning btn-with-margin" href="" id="reorderSteps">Reorder Actions</a>
  <%= link_to "Copy Existing Action",
              collection_testset_test_actions_path(@testset.collection, @testset),
              :class => 'btn btn-extra btn-with-margin' %>
</div>

<script>
  $( document ).ready(function() {
    $('#reorderSteps').attr('disabled','disabled');

    var reorderSteps;

    var collectionId = <%= @testset.collection.id %>;
    var testsetId = <%= @testset.id %>;

    var updatedData = [];

    reorderSteps = function() {
      console.log("Reordering steps ...");
      $('.test-action-position-reorder-form').each(function(i, obj) {
        var testActionId = $(obj).find("#test_action_id")[0].value;
        var adjustedOrder = $(obj).find("#test_action_data")[0].value;

        console.log("testActionId is " + testActionId);
        console.log("adjustedOrder is " + adjustedOrder);

        updatedData.push({
          id: testActionId,
          previous_order: (i + 1),
          new_order: adjustedOrder,
          collection_id: collectionId,
          testset_id: testsetId
        });

        testActionId = null; adjustedOrder = null;
      });

      console.log("Sending data to " + "/collections/" + collectionId + "/testsets/" + testsetId + "/change_order");
      $.ajax({
        type: "PUT",
        url: "/collections/" + collectionId + "/testsets/" + testsetId + "/change_order",
        data: { steps_to_sort: updatedData },
        async: false
      });
      console.log("Send data: " + updatedData);

      location.reload();
    };

    $('#reorderSteps').click(function(e) {
      if ($('#reorderSteps').attr('disabled') == 'disabled') {
        return;
      }

      e.stopPropagation()
      e.preventDefault();

      reorderSteps();
    });

    $('.position-number-button').click(function(e) {
      $('#reorderSteps').removeAttr('disabled');
    });
  });
</script>
