<%= form_for [@object_identifier.test_action.testset.collection, @object_identifier.test_action.testset, @object_identifier.test_action, @object_identifier], :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :identifier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :identifier, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <% @object_identifier.object_type_id ? selected_id = @object_identifier.object_type_id : selected_id = 0 %>
    <%= f.label :object_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:activity_id, ObjectType.all, :id, :type_name, {:selected => selected_id}, {:class => 'select-list form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <% @object_identifier.selector_id ? selected_id = @object_identifier.selector_id : selected_id = 0 %>
    <%= f.label :selector, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:activity_id, Selector.all, :id, :selector_name, {:selected => selected_id}, {:class => 'select-list form-control'}) %>
    </div>
  </div>
  <%= f.hidden_field :test_action_id, :value => @object_identifier.test_action.id %>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  collection_testset_path(@object_identifier.test_action.testset.collection, @object_identifier.test_action.testset), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
