<%- model_class = ObjectIdentifier -%>
<div class="page-header">
  <h1><%=t '.title', :default => ObjectIdentifier %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:identifier) %></th>
      <th><%= model_class.human_attribute_name(:id_type) %></th>
      <th><%= model_class.human_attribute_name(:selector) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @object_identifiers.each do |object_identifier| %>
      <tr>
        <td><%= object_identifier.id %></td>
        <td><%= object_identifier.identifier %></td>
        <td><%= object_identifier.id_type %></td>
        <td><%= object_identifier.selector %></td>
        <td><%=l object_identifier.created_at, format: :long %></td>
        <td>
          <%= link_to object_identifier_path(object_identifier), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to object_identifier_path(object_identifier), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_object_identifier_path,
            :class => 'btn btn-primary' %>
