<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>
<% # http://stackoverflow.com/a/27482171/1651458 %>

<%- model_class = ActionStatus -%>
<div class="page-header">
  <h5 class="title-class-header">
    <%= link_to '< Back to run',
          collection_run_path(@action_status.run_test_action.run_test.run.collection, @action_status.run_test_action.run_test.run),
          :class => 'title-class-link back-button-with-hash' %>
  </h5>
  <h1><%= "#{model_class.name.titlecase.humanize} #{@action_status.id}" %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:browser_type) %></dt>
      <dd><pre class="prettyprint"><%= @action_status.browser_type.name %></pre></dd>
  </dl>
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:success) %></dt>
      <dd><pre class="prettyprint"><%= print_action_success(@action_status) %></pre></dd>
  </dl>
  <% if @action_status.screenshot %>
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:screenshot) %></dt>
      <dd><pre class="prettyprint"><img src="data:image/png;base64,<%= @action_status.screenshot %>"</pre></dd>
  </dl>
  <%- end %>
  <% DidYouMeanType.all.each do |dym_type| %>
    <% @x_did_you_means.where(:did_you_mean_type => dym_type).each do |dym| %>
    <dl class="dym-container">
        <dt class="label label-default">Did you mean a <%= dym_type.key.humanize.downcase %> object?</dt>
        <p class="dym-description"><%= dym.did_you_mean_type.description %></p>
        <dd><pre class="prettyprint"><%= "#{dym.possibility}" %></pre></dd>
    </dl>
    <%- end %>
  <%- end %>
  <% if @action_status.notes %>
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:notes) %></dt>
      <dd><pre class="prettyprint"><%= @action_status.notes %></pre></dd>
  </dl>
  <%- end %>
  <% if @action_status.log && @action_status.log.is_a?(Hash) %>
  <dl>
      <dt class="label label-default">Error Class</dt>
      <dd><pre class="prettyprint"><%= @action_status.log['class'] %></pre></dd>
  </dl>
  <dl>
      <dt class="label label-default">Error Message</dt>
      <dd><pre class="prettyprint"><%= @action_status.log['message'] %></pre></dd>
  </dl>
  <% if !Rails.env.production? %>
  <dl>
      <dt class="label label-default">Error Backtrace</dt>
      <dd>
        <pre class="prettyprint"><% @action_status.log['backtrace'].each do |bt| %><%= bt %><br /><% end %></pre>
      </dd>
  </dl>
  <%- end %>
  <%- end %>

</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              collection_run_path(@action_status.run_test_action.run_test.run.collection, @action_status.run_test_action.run_test.run),
              :class => 'btn btn-default back-button-with-hash' %>
</div>

<script>
  $( document ).ready(function() {
    $.each($('.back-button-with-hash'), function ( i, obj ) {
      original = $(obj).attr('href');
      $(obj).attr('href', (original + location.hash) );
    });
  });
</script>
