<%- model_class = RunObjectIdentiferSibling -%>
<div class="page-header">
  <h1><%=t '.title', :default => RunObjectIdentiferSibling %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:identifier) %></th>
      <th><%= model_class.human_attribute_name(:id_type) %></th>
      <th><%= model_class.human_attribute_name(:selector) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @run_object_identifer_siblings.each do |run_object_identifer_sibling| %>
      <tr>
        <td><%= run_object_identifer_sibling.id %></td>
        <td><%= run_object_identifer_sibling.identifier %></td>
        <td><%= run_object_identifer_sibling.id_type %></td>
        <td><%= run_object_identifer_sibling.selector %></td>
        <td><%=l run_object_identifer_sibling.created_at, format: :long %></td>
        <td>
          <%= link_to run_object_identifer_sibling_path(run_object_identifer_sibling), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to run_object_identifer_sibling_path(run_object_identifer_sibling), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_run_object_identifer_sibling_path,
            :class => 'btn btn-primary' %>
