<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @run_object_identifer_sibling.identifier %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @run_object_identifer_sibling.id_type %>
</p>

<p>
  <strong>Selector:</strong>
  <%= @run_object_identifer_sibling.selector %>
</p>

<p>
  <strong>Run object identifer:</strong>
  <%= @run_object_identifer_sibling.run_object_identifer %>
</p>

<p>
  <strong>Sibling relationship:</strong>
  <%= @run_object_identifer_sibling.sibling_relationship %>
</p>

<%= link_to 'Edit', edit_run_object_identifer_sibling_path(@run_object_identifer_sibling) %> |
<%= link_to 'Back', run_object_identifer_siblings_path %>
