<%= simple_form_for(@x_did_you_mean) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :action_status %>
    <%= f.input :possibility %>
    <%= f.association :did_you_mean_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
