<h1>Listing run_tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Belongs to</th>
      <th>Belongs to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @run_tests.each do |run_test| %>
      <tr>
        <td><%= run_test.name %></td>
        <td><%= run_test.description %></td>
        <td><%= run_test.belongs_to %></td>
        <td><%= run_test.belongs_to %></td>
        <td><%= link_to 'Show', run_test %></td>
        <td><%= link_to 'Edit', edit_run_test_path(run_test) %></td>
        <td><%= link_to 'Destroy', run_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run test', new_run_test_path %>
