<%= simple_form_for(@run_object_identifer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :identifier %>
    <%= f.input :id_type %>
    <%= f.input :selector %>
    <%= f.association :run_test_action %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
