<h1>Listing run_object_identifers</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Id type</th>
      <th>Selector</th>
      <th>Run test action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @run_object_identifers.each do |run_object_identifer| %>
      <tr>
        <td><%= run_object_identifer.identifier %></td>
        <td><%= run_object_identifer.id_type %></td>
        <td><%= run_object_identifer.selector %></td>
        <td><%= run_object_identifer.run_test_action %></td>
        <td><%= link_to 'Show', run_object_identifer %></td>
        <td><%= link_to 'Edit', edit_run_object_identifer_path(run_object_identifer) %></td>
        <td><%= link_to 'Destroy', run_object_identifer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run object identifer', new_run_object_identifer_path %>
