<%= simple_form_for(@run_test_action_datum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :data %>
    <%= f.association :run_object_identifier %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
