<%= simple_form_for(@did_you_mean_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :key %>
    <%= f.input :archived %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
