<%- model_class = Environment -%>
<div class="page-header">
  <h1><%=t '.title', :default => Environment %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @environments.each do |environment| %>
      <tr onclick="location.href='<%= environment_path(environment) %>'" class="cursor-hand">
        <td><%= environment.name %></td>
        <td><%=l environment.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
            root_url,
            :class => 'btn btn-default' %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_environment_path,
            :class => 'btn btn-primary' %>
