<%= form_for [@testset.collection, @testset, @test_action], :html => { :class => 'form-horizontal form-model pointer-container' } do |f| %>
  <div class="form-group">
    <div class="col-md-12">
      <%= f.grouped_collection_select(:pointer, Collection.all, :alphasort_testset, :name, :id, :name, {}, {:class => 'select-list form-control'})%>
    </div>
  </div>
  <%= f.hidden_field :testset_id, :value => @testset.id %>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  collection_testset_path(@testset.collection, @testset), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
