<%- model_class = ScheduledTest -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', "Edit #{model_class.name.underscore.humanize.downcase}"] %></h1>
</div>
<%= render :partial => 'form' %>

<div class="fieldset collection-runs-container">
  <h3>Runs</h3>
  <div class="sticky sticky_table_header">
    <table class="table table-heading-table">
      <thead>
        <tr>
          <th class="collection-run-id-column">ID</th>
          <th class="collection-run-name-column">Name</th>
          <th class="collection-run-description-column">Description</th>
          <th class="collection-run-updatedat-column">Updated At</th>
        </tr>
      </thead>
    </table>
  </div>

  <table class="table table-striped collection-runs-table">
    <tbody>
      <% @runs.each do |run| %>
        <tr class="cursor-hand test-run" onclick="location.href='<%= collection_run_path(run.collection, run) %>'">
          <td class="collection-run-id-column"><%= run.id %></td>
          <td class="collection-run-name-column"><%= run.name %></td>
          <td class="collection-run-description-column"><%= run.description %></td>
          <td class="collection-run-updatedat-column"><%=l run.updated_at, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @runs, renderer: BootstrapPagination::Rails %>
</div>
