<%- model_class = ScheduledTest -%>
<div class="page-header">
  <h1>Scheduled Tests</h1>
</div>
<div class="sticky sticky_table_header">
  <table class="table table-heading-table">
    <thead>
      <tr>
        <th class="scheduled-test-last-test-column">Last test</th>
        <th class="scheduled-test-tests-column">Tests</th>
        <th class="scheduled-test-next-test-column"><%= model_class.human_attribute_name(:next_test) %></th>
        <th class="scheduled-test-recurring-column"><%= model_class.human_attribute_name(:recurring) %></th>
        <th class="scheduled-test-updated-at-column"><%= model_class.human_attribute_name(:updated_at) %></th>
        <th class="scheduled-test-delete-column"></th>
      </tr>
    </thead>
  </table>
</div>
<table class="table table-striped">
  <tbody>
    <% @scheduled_tests.each do |scheduled_test| %>
      <tr class="scheduled-tests-index-row">
        <td class="scheduled-test-last-test-column cursor-hand"
            onclick="location.href='<%= edit_scheduled_test_path(scheduled_test) %>'">
            <% run_status = scheduled_test.last_run_status %>
          <div class="last-test-status last-test-<%= run_status[:class] %>"><%= run_status[:display] %></div>
        </td>
        <td class="scheduled-test-tests-column">
          <div class="scheduled-test-testsets-container">
          <% scheduled_test.test_ids.each do |test_id| %>
            <a href="" class="btn btn-default scheduled-test-testset">
              <%= Testset.find_by(:id => test_id).name %>
            </a>
          <%- end %>
          </div>
        </td>
        <td class="scheduled-test-next-test-column cursor-hand"
            onclick="location.href='<%= edit_scheduled_test_path(scheduled_test) %>'">
          <%=l scheduled_test.next_test, format: :short if scheduled_test.next_test %>
        </td>
        <td class="scheduled-test-recurring-column cursor-hand"
            onclick="location.href='<%= edit_scheduled_test_path(scheduled_test) %>'">
          Every <%= scheduled_test.recurring %> days
        </td>
        <td class="scheduled-test-updated-at-column cursor-hand"
            onclick="location.href='<%= edit_scheduled_test_path(scheduled_test) %>'">
          <%=l scheduled_test.updated_at, format: :short %>
        </td>
        <td class="scheduled-test-delete-column">
          <%= link_to t('.x', :default => t("helpers.links.x")),
                      scheduled_test_path(scheduled_test),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xxs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @scheduled_tests, renderer: BootstrapPagination::Rails %>

<br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_scheduled_test_path,
            :class => 'btn btn-primary' %>
