<%= form_for @run_object_identifier, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :identifier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :identifier, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :id_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :id_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :selector, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :selector, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  run_object_identifiers_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
